{% load static %}

<div class="card ">
    <!--begin::Header-->
    <div class="card-header card-header-stretch">
        <!--begin::Title-->
        <div class="card-title">
            <h3>Referred Users</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Header-->

    <!--begin::Tab content-->
    <div id="kt_referred_users_tab_content" class="tab-content">
                    
            <!--begin::Tab panel-->
            <div id="kt_referrals_1" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="#kt_referrals_tab_1">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-bordered align-middle gy-6">
                        <!--begin::Thead-->
                        <thead class="border-bottom border-gray-200 fs-6 fw-bold bg-lighten">
                            <tr>
                                <th class="min-w-125px ps-9">Referral</th>
                                <th class="min-w-125px px-0">Earned Points</th>
                                <th class="min-w-125px">Amount</th>
                                <th class="min-w-125px">Date Earned</th>
                                
                            </tr>
                        </thead>
                        <!--end::Thead-->

                        <!--begin::Tbody-->
                        <tbody class="fs-6 fw-semibold text-gray-600">

                            {% for earning in referralProfile.get_earnings %}

                            <tr>
                                <td class="ps-9" >{{earning.source}}</td>
                                <td class="ps-9" >{{earning.earned_points}}</td>
                                <td class="ps-9" >{{earning.amount}}</td>
                                <td class="ps-9">{{earning.date_earned}}</td>
                            </tr>
                            {% endfor %}
                                
                        </tbody>
                        <!--end::Tbody-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Tab panel-->
                    
            <!--begin::Tab panel-->
            <div id="kt_referrals_2" class="card-body p-0 tab-pane fade " role="tabpanel" aria-labelledby="#kt_referrals_tab_2">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-bordered align-middle gy-6">
                        <!--begin::Thead-->
                        <thead class="border-bottom border-gray-200 fs-6 fw-bold bg-lighten">
                            <tr>
                                <th class="min-w-125px ps-9">Order ID</th>
                                <th class="min-w-125px px-0">User</th>
                                <th class="min-w-125px">Date</th>
                                <th class="min-w-125px">Bonus</th>
                                <th class="min-w-125px ps-0">Profit</th>
                            </tr>
                        </thead>
                        <!--end::Thead-->

                        <!--begin::Tbody-->
                        <tbody class="fs-6 fw-semibold text-gray-600">
                                                            <tr>
                                    <td class="ps-9">256899235</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Juan Carlos</a></td>
                                    <td>Jan 02, 2020</td>
                                    <td>35%</td>
                                    <td class="text-success">$820.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">245899092</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Paul Johnson</a></td>
                                    <td>Feb 29, 2020</td>
                                    <td>21%</td>
                                    <td class="text-success">$380.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">505432578</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Sarah Jones</a></td>
                                    <td>Jan 08, 2020</td>
                                    <td>47%</td>
                                    <td class="text-success">$2,050.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">678935899</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Robert Smith</a></td>
                                    <td>May 06, 2020</td>
                                    <td>18%</td>
                                    <td class="text-success">$940.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">578433345</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Maria Garcia</a></td>
                                    <td>Aug 10, 2020</td>
                                    <td>35%</td>
                                    <td class="text-success">$2,400.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">098669322</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Williams Brown</a></td>
                                    <td>Apr 30, 2020</td>
                                    <td>43%</td>
                                    <td class="text-success">$200.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">678935899</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Marcus Harris</a></td>
                                    <td>Nov 24, 2020</td>
                                    <td>26%</td>
                                    <td class="text-success">$1,200.00</td>
                                </tr>
                                
                        </tbody>
                        <!--end::Tbody-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Tab panel-->
                    
            <!--begin::Tab panel-->
            <div id="kt_referrals_3" class="card-body p-0 tab-pane fade " role="tabpanel" aria-labelledby="#kt_referrals_tab_3">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-bordered align-middle gy-6">
                        <!--begin::Thead-->
                        <thead class="border-bottom border-gray-200 fs-6 fw-bold bg-lighten">
                            <tr>
                                <th class="min-w-125px ps-9">Order ID</th>
                                <th class="min-w-125px px-0">User</th>
                                <th class="min-w-125px">Date</th>
                                <th class="min-w-125px">Bonus</th>
                                <th class="min-w-125px ps-0">Profit</th>
                            </tr>
                        </thead>
                        <!--end::Thead-->

                        <!--begin::Tbody-->
                        <tbody class="fs-6 fw-semibold text-gray-600">
                                                            <tr>
                                    <td class="ps-9">578433345</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Maria Garcia</a></td>
                                    <td>Aug 10, 2020</td>
                                    <td>35%</td>
                                    <td class="text-success">$2,400.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">678935899</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Robert Smith</a></td>
                                    <td>May 06, 2020</td>
                                    <td>18%</td>
                                    <td class="text-success">$940.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">256899235</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Juan Carlos</a></td>
                                    <td>Jan 02, 2020</td>
                                    <td>35%</td>
                                    <td class="text-success">$820.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">245899092</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Paul Johnson</a></td>
                                    <td>Feb 29, 2020</td>
                                    <td>21%</td>
                                    <td class="text-success">$380.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">505432578</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Sarah Jones</a></td>
                                    <td>Jan 08, 2020</td>
                                    <td>47%</td>
                                    <td class="text-success">$2,050.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">098669322</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Williams Brown</a></td>
                                    <td>Apr 30, 2020</td>
                                    <td>43%</td>
                                    <td class="text-success">$200.00</td>
                                </tr>
                                                            <tr>
                                    <td class="ps-9">678935899</td>
                                    <td class="ps-0"><a href="" class="text-gray-600 text-hover-primary">Marcus Harris</a></td>
                                    <td>Nov 24, 2020</td>
                                    <td>26%</td>
                                    <td class="text-success">$1,200.00</td>
                                </tr>
                                
                        </tbody>
                        <!--end::Tbody-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Tab panel-->
         
    </div>
    <!--end::Tab content-->
</div>