{% load static %}

<div class="col-md-6 col-xl-4">
  <!--begin::Body-->
  <div class="card" style="border-radius: 20px; height: 100%">
    <!--begin::Header-->
    <div class="d-flex align-items-start">
      <!--end::Menu-->
    </div>
    <!--end::Header-->

    <!--begin::Post-->
    <div class="d-flex flex-column" style="height: 100%">
      <!--begin::Image-->
      <div
        class="bgi-no-repeat bgi-size-cover min-h-150px mb-5"
        style="background-image: url('{{data.thumbnail.url}}'); border-top-left-radius: 20px; border-top-right-radius: 20px;"
      >
        <!--begin::Menu-->
        <a href="{% url 'worlds:world_rating' data.slug %}">
          <div class="position-absolute top-0 end-0 mt-2 me-2">
            <i class="ki-duotone ki-star text-warning fs-2"></i>
          </div>
        </a>
      </div>
      <!--end::Image-->

      <!--begin::Text-->
      <div class="flex-grow-1 px-3">
        <a
          href="{% url 'worlds:world_detail' data.slug %}"
          class="text-gray-900 fw-bold text-center text-hover-primary fs-2"
        >
          {{data.name}}
        </a>
        <div class="text-dark-800 mb-5 fs-6">{{data.description}}</div>
        <div class="text-muted fw-semibold mb-6">
          {{data.created_at}} &#x2022; {{data.rating}} stars
        </div>
      </div>
      <!--end::Text-->

      <!--begin::Toolbar-->
      <div class="d-flex align-items-end justify-content-between">
        <!--begin::Tags-->
        <div class="d-flex flex-wrap">
          {% for tg in data.tags.all %}
          <span class="btn btn-sm btn-light btn-color-muted m-2">
            {{ tg.name }}
          </span>
          {% endfor %}
        </div>
        <!--end::Tags-->

        <!--begin::Symbol-->
        <div class="symbol symbol-30px cursor-pointer m-3">
          <div class="symbol-label bg-light">
            <a href="#">
              <i class="ki-solid ki-arrow-circle-left text-warning fs-3"></i>
            </a>
          </div>
        </div>
        <!--end::Symbol-->
      </div>

      <!--end::Toolbar-->
    </div>
    <!--end::Body-->
  </div>
</div>
