{% load static %}


 
  {% comment %} <div  hx-swap-oob="beforeend:#event" >
    <!-- Timeline components here -->
    <!-- Template: Timeline item -->
    <div class="timeline">
    <div class="timeline-item">
      <!-- Timeline line -->
      <div class="timeline-line w-40px"></div>

      <!-- Timeline icon -->
      <div class="timeline-icon symbol symbol-circle symbol-40px">
        <div class="symbol-label bg-light">
          <img src="{% static 'assets/media/svg/figma/chat.svg' %}" alt="" />
        </div>
      </div>
      <!-- End: Timeline icon -->

      <!-- Timeline content -->
      <div class="card timeline-content mb-10 mt-n1">
        <!-- Menu -->
        <div class="menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-400 menu-arrow-gray-400 menu-bullet-gray-400 menu-arrow-gray-400 menu-state-bg fw-semibold w-100%" data-kt-menu="true">
          <!-- Menu item -->
          <div class="menu-item menu-sub-indention menu-accordion" data-kt-menu-trigger="click">
            <!-- Menu link -->
            <a href="#" class="menu-link py-3">
              <span class="menu-icon">
                <div class="symbol-group symbol-hover flex-nowrap flex-grow-1 min-w-100px pe-2" style="margin-left: 70px">
                  <!-- User -->
                  <div class="symbol symbol-circle symbol-25px">
                    <img src="{% static 'assets/media/avatars/300-2.jpg' %}" alt="img" />
                  </div>
                  <!-- End: User -->

                  <!-- User -->
                  <div class="symbol symbol-circle symbol-25px">
                    <img src="{% static 'assets/media/avatars/300-14.jpg' %}" alt="img" />
                  </div>
                  <!-- End: User -->
                </div>
              </span>

              <span class="menu-title name">{{data.event_type}}</span>
              <span class="menu-title date">{{data.created_at}}</span>

              <span class="menu-arrow"></span>
            </a>
            <!-- End: Menu link -->

            <!-- Menu sub -->
            <div class="menu-sub menu-sub-accordion pt-3">
              <!-- Menu item -->
              <div class="menu-item">
                <div class="d-flex flex-column" style="width: 500px; gap: 10px">
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold" style="min-width: 120px"><strong>Description:</strong></span>
                    <span class="text-gray-600 fw-semibold">{{data.message}}</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold" style="min-width: 120px"><strong>Created at:</strong></span>
                    <span class="text-gray-600 date fw-semibold">{{data.created_at}}</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold" style="min-width: 120px"><strong>Sender:</strong></span>
                    <span class="text-gray-600 fw-semibold">{{data.sender_id}}</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold mb-3" style="min-width: 120px"><strong>Object:</strong></span>
                    <span class="text-gray-600 fw-semibold">{{data.object_id}}</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold mb-3" style="min-width: 120px"><strong>Target:</strong></span>
                    <span class="text-gray-600 fw-semibold">{{data.target_id}}</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-gray-600 fw-semibold mb-3" style="min-width: 120px"><strong>Recipient Agent:</strong></span>
                    <span class="text-gray-600 fw-semibold">{{data.recipient_agent_id}}</span>
                  </div>
                </div>
              </div>
              <!-- End: Menu item -->

              <!-- ... -->
            </div>
            <!-- End: Menu sub -->
          </div>
          <!-- End: Menu item -->
        </div>
        <!-- End: Menu -->
      </div>
      <!-- End: Timeline content -->
    </div>
    <!-- End: Template: Timeline item -->

    <!-- Template: Add more timeline items here -->

  </div> {% endcomment %}

<script>
 // Define an array of icon URLs
const iconUrls = [
"{% static 'assets/media/svg/figma/chat.svg' %}",
"{% static 'assets/media/svg/figma/add.svg' %}",
"{% static 'assets/media/svg/figma/board.svg' %}",
// more icon URLs
];

// Generate a random index to select an icon URL from the array
const randomIndex = Math.floor(Math.random() * iconUrls.length);
const randomIconUrl = iconUrls[randomIndex];

// Initialize the KMenu component for the new timeline item
const menuTrigger = document.querySelector('[data-kt-menu-trigger="click"]');
const menu = new KTMenu(menuTrigger.parentElement);

// Reinitialize the KMenu component for all existing timeline items
const existingMenuItems = document.querySelectorAll(".menu-item");
existingMenuItems.forEach((item) => {
const menuTrigger = item.querySelector('[data-kt-menu-trigger="click"]');
const menu = new KTMenu(menuTrigger.parentElement);
});

</script>