{% load static %}

<div class="align-items-center text-center">
  <!--begin::User-->
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <!--begin::Avatar-->

    <!--end::Avatar-->
    <div class="symbol symbol-circle symbol-35px p-3">
      <img src="{% static 'assets/media/svg/figma/dna.svg' %}" alt="img" />
      <img src="{% static 'assets/media/svg/figma/world.svg' %}" alt="img" />

    </div>
    <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold">GenWorlds</a>
  </div>
  <!--begin::Info-->
  <span class="justify-content-center align-items-center text-muted fs-4 fw-bold d-block">The Collaborative AI Agent Framework</span>
  <!--end::Info-->
  <!--end::User-->

  <!--begin::Menu-->

  <!--end::Menu-->
</div>
<div class="text-dark p-10 fs-5 ">
  <p>
    GenWorlds is an open-source framework that allows for the development of
    robust multi-agent systems. It is inspired by research from Stanford and
    Google on "Generative Agents: Interactive Simulacra of Human Behavior".
    GenWorlds facilitates creation of dynamic environments where AI agents
    interact, remember, and evolve. Key features include customizable
    interactive environments to suit your projects, goal-oriented autonomous
    agents for complex problem-solving, shared objects for agent interactions,
    dynamic memory management for learning from past experiences, and
    scalability via WebSocket server for real-time agent interaction. This makes
    GenWorlds a versatile tool for nuanced and sophisticated agent behaviors in
    scalable, tailored environments.
  </p>
<div class="d-flex flex-column">
  <a
      href="https://github.com/yeagerai/genworlds"
      class="text-muted text-hover-primary fs-6 fw-semibold"
      >Check out our Github</a
    >
    <a
      href="https://discord.gg/22eCYpb3w2"
      class="text-muted text-hover-primary fs-6 fw-semibold"
      >Join our Discord</a
    >
</div>

</div>
